<div id='flexContainer'>  
     <h3>Recipe of the Day</h3>
     <div id='recipeDay'>
        <h3>{{fullRecipes}}</h3>
    </div>


<h3>Share your recipes with us!</h3>
<form action="/newRecipe" method="post">
    <input class='inputTitle' type="text" name='newRecipeTitle' placeholder="New Recipe Title">
    <input class='inputField' type="text" name='newRecipeDescription' placeholder="Recipe Description">
    <input class='inputField' type="text" name='newRecipeInstructions' placeholder="Recipe Instructions">
    <input type="submit" value='Post'>
</form>

<h2><a href="/recipes">See the latest Recipes</a>
</h2>

 </div> 
