<h2>
    Welcome
    <a href="/recipes">See the latest Recipe</a>
</h2>

<h3>Share your recipes with us!</h3>
<form action="/newRecipe" method="post">
    <input class='inputField' type="text" name='newRecipe' placeholder="Share your recipes with us.">
    <input type="submit" value='Post'>
</form>

