<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Manger</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/">Recipe Manger</a></h1>

    {{{body}}}
  </body>
</html>
