<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Recipe Manger</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="/assets/script.js"></script>
  </head>
  <body>
    <h1><a href="/">Welcome Recipe Manger</a></h1>
    {{{body}}}
  </body>
</html>
