recipeDay<!DOCTYPE html>
<html>

<head>
    <title>Sweet-n-Savory Recipe Manger</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/app.js"></script>
</head>

<body>
    <h1>
        <a href="/">Sweet-n-Savory
            <br>Recipes</a>
    </h1>

    {{{body}}}
</body>

</html>

