#flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1 a {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: italic;
    color: #1df3f3;
}
div .recipeDay {
    font-size: 10px;
}
.inputTitle {

    width: 100px;
    border: 3 solid #000000;
}

.inputField {

    width: 300px;
    border: 3 solid #000000;
}

